<h1>Portfolio Items</h1>
<%= link_to "Create New Item", new_portfolio_path %>
<%= link_to "Portfolios based on Angular", angular_item_path %>
<%= link_to "Portfolios based on Ruby on Rails", rails_item_path %>

<%=render partial: 'portfolio_item', collection: @portfolio_item %>
