<div class="blog-header">
    <div class="container">
      <h1 class="blog-title">My Blog</h1>
      <p class="lead blog-description">personalized blog that describes something.</p>
      <%  if logged_in?(:site_admin)%>
        <button type="button" class="btn btn-secondary"><%= link_to 'New Blog', new_blog_path %></button>
      <% end %>
    </div>
</div>