<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
    </p>
    <%= copyright_generator %>
    <%= source_helper("portfolios") %>
  </div>
</footer>