<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= link_to "My portfolio", portfolios_path %></h1>
    <p class="lead text-muted">Some stuff I've created</p>
    <p>
      <%= link_to "Angular portfolios", angular_item_path, class: "btn btn-secondary" %>
      <%= link_to "Ruby on Rails portfolios", rails_item_path, class: "btn btn-secondary" %>
    </p>
    <p>
      <% if logged_in?(:site_admin) %>
      <%= link_to "Create New Item", new_portfolio_path, class: "btn btn-primary"%>
      <% end %>
    </p>
  </div>
</section>