<% if current_user %>
<h1>Hi, <%= current_user.first_name %></h1>
<% else %>
<h1>Home Page</h1>
<% end %>

<h2><%= link_to "My blogs", blogs_path %></h2>


<h2>My skills</h2>
<%= @skills.inspect %>

<h2><%= link_to "My portfolios", portfolios_path %> </h2>

